body {
    margin: 0;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

canvas {
    background-color: #141414;
    border: 2px solid #00cccc;
}

#overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #00cccc;
    font-family: Consolas, monospace;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}
